body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.card {
  background-color: white;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 5% 5%;
  padding: 24px 16px;
  width: 90%;
}

.card__title {
  color: #1E88E5;
  font-size: 24px;
}

input {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

table {
  width: 100%;
  text-align: center;
}

.lab-questions {
  margin: 0;
  padding: 0;
}

.lab-question {
  border-bottom: #607D8B solid 1px;
  margin: 0;
  margin-top: 7.5%;
  list-style: none;
  padding-bottom: 7.5%;
}

.lab-question:first-child {
  margin-top: 0;
}

.lab-question__question {
  color: #1565C0;
  font-weight: 300;
  font-size: 16px;
}

.lab-question__question h3 {
  color: #1565C0;
  font-size: 16px;
  font-weight: 300;
}

h4 {
  color: #0D47A1;
  font-size: 14px;
  font-weight: 300;
}

.lab-question__answer {

}

.lab-question__answer p:last-child {
  margin-bottom: 0;
}

/* Bonus question lab 1 */
.bonus-question__title {
  color: #1565C0;
  font-size: 16px;
  font-weight: 300;
}

.bonus-question p {
  text-indent: 32px;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
  text-indent: 0;
}

.small-caps {
  font-variant: small-caps;
}

.note:before {
  content: 'NOTE: ';
}
